## Numpy

Импортировать NumPy под именем np

In [ ]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [5]:
a = np.zeros((1, 10))
print(a)

[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]]

Создать вектор размера 10, заполненный единицами

In [6]:
a = np.ones((1, 10))
print(a)

[[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.]]

Создать вектор размера 10, заполненный числом 2.5

In [7]:
a = np.full((1, 10), 2.5, dtype=float)
print(a)

[[ 2.5  2.5  2.5  2.5  2.5  2.5  2.5  2.5  2.5  2.5]]

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [3]:
a = np.zeros((1, 10))
a[0][5] = 1
print(a)

[[ 0.  0.  0.  0.  0.  1.  0.  0.  0.  0.]]

Развернуть вектор (первый становится последним)

In [9]:
a = np.arange(10)
print(a)
print(a[::-1])

[0 1 2 3 4 5 6 7 8 9]
[9 8 7 6 5 4 3 2 1 0]

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [10]:
a = np.arange(9).reshape(3, 3)
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [12]:
a = np.array([1, 2, 0, 0, 4, 0])
print(np.nonzero(a))

(array([0, 1, 4]),)

Создать 3x3 единичную матрицу

In [13]:
a = np.zeros((3, 9))
print(a)

[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.]]

Создать массив 3x3x3 со случайными значениями

In [14]:
a = np.random.rand(3, 3, 3)
print(a)

[[[ 0.87283602  0.42109275  0.57433051]
  [ 0.73853605  0.56288155  0.07565394]
  [ 0.58947189  0.51900692  0.84270836]]

 [[ 0.27617211  0.48963498  0.30295271]
  [ 0.14551452  0.75968599  0.91789124]
  [ 0.95127445  0.7831737   0.57760502]]

 [[ 0.48068125  0.89426391  0.41636285]
  [ 0.05425686  0.02636305  0.4902538 ]
  [ 0.0832907   0.02563887  0.29572431]]]

Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [16]:
a = np.random.rand(1,30)
print(a)
print(np.average(a))

[[ 0.30552721  0.48914847  0.92773522  0.91369698  0.67295923  0.24436749
   0.45823916  0.44979867  0.0254749   0.16432509  0.75156683  0.18673971
   0.25417961  0.18223197  0.87156909  0.8014803   0.19988774  0.41935008
   0.30848916  0.4804537   0.99370635  0.93484371  0.62498995  0.45545434
   0.38752885  0.84539647  0.60611554  0.73355852  0.47728382  0.2395661 ]]
0.513522142444

Перемножить матрицы 5x3 и 3x2

In [18]:
a = np.random.rand(5,3)
b = np.random.rand(3,2)
print(a)
print(b)
print(np.dot(a, b))

[[ 0.89791474  0.96000798  0.33690812]
 [ 0.41233993  0.71709604  0.74611926]
 [ 0.65533603  0.72322381  0.56714113]
 [ 0.37544263  0.41609465  0.10360136]
 [ 0.13038859  0.45430697  0.0918051 ]]
[[ 0.13286862  0.54183146]
 [ 0.8610713   0.00722856]
 [ 0.08621172  0.82052985]]
[[ 0.97498544  0.76990111]
 [ 0.73658208  0.84081544]
 [ 0.75871507  0.82566577]
 [ 0.41710336  0.29144241]
 [ 0.41642992  0.14926146]]

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [19]:
a = np.arange(0.1, 1, 0.09)
print(a)

[ 0.1   0.19  0.28  0.37  0.46  0.55  0.64  0.73  0.82  0.91]

Заменить максимальный элемент на ноль

In [21]:
a = np.array([1, 2, 12, 7, 3, 4])
a[np.argmax(a)] = 0
print(a)

[1 2 0 7 3 4]

Преобразовать массив из float в int

In [24]:
a = np.array([1.2, 2.3, 12.8, 7.0, 3.2, 4.2])
a = a.astype(int)
print(a)

[ 1  2 12  7  3  4]

Дан массив (10,2) координат, найти расстояние от каждой точки до каждой

In [32]:
from scipy.spatial import distance
a = np.random.rand(10,2)
d = distance.cdist(a, a, 'euclidean')
print(d)

[[ 0.          0.21119052  0.64088537  0.25480442  0.44012379  0.63905829
   0.69384228  0.40683502  0.84457107  0.17317558]
 [ 0.21119052  0.          0.52261699  0.3442686   0.5494622   0.6751576
   0.53616859  0.39093566  0.65746858  0.10192988]
 [ 0.64088537  0.52261699  0.          0.50332689  0.58507765  0.46816726
   0.15104475  0.30926397  0.36328973  0.48054464]
 [ 0.25480442  0.3442686   0.50332689  0.          0.20543078  0.38538524
   0.60473328  0.20355016  0.79745206  0.24340865]
 [ 0.44012379  0.5494622   0.58507765  0.20543078  0.          0.26743595
   0.71540291  0.28776454  0.92408378  0.4481457 ]
 [ 0.63905829  0.6751576   0.46816726  0.38538524  0.26743595  0.
   0.61827338  0.2924441   0.83145606  0.57825138]
 [ 0.69384228  0.53616859  0.15104475  0.60473328  0.71540291  0.61827338
   0.          0.42957318  0.21426003  0.5223278 ]
 [ 0.40683502  0.39093566  0.30926397  0.20355016  0.28776454  0.2924441
   0.42957318  0.          0.63650769  0.30102628]
 [ 0.84457107  0.65746858  0.36328973  0.79745206  0.92408378  0.83145606
   0.21426003  0.63650769  0.          0.67207631]
 [ 0.17317558  0.10192988  0.48054464  0.24340865  0.4481457   0.57825138
   0.5223278   0.30102628  0.67207631  0.        ]]

Случайно расположить p элементов в 2D массив

In [35]:
n = 10
p = 3
a = np.zeros((n,n))
print(a)
np.put(a, np.random.choice(range(n*n), p, replace=False), 1)
print(a)

[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]]
[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  1.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  1.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  1.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]]

Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [48]:
a = np.arange(1, 6)
print(a)
zeros = 3
result = np.zeros(len(a) + (len(a) - 1) * zeros)
result[::zeros + 1] = a
print(result)

[1 2 3 4 5]
[ 1.  0.  0.  0.  2.  0.  0.  0.  3.  0.  0.  0.  4.  0.  0.  0.  5.]

Найти наиболее частое значение в массиве

In [52]:
a = np.array([1,2,3,1,2,1,1,1,3,2,2,1])
counts = np.bincount(a)
print(np.argmax(counts))

1

Найти n наибольших значений в массиве

In [64]:
n = 5
a = np.array([4,2,3,1,4,1,1,4,3,4,2,1])
print(np.argpartition(a, -n)[-n:])

[8 7 4 9 0]

## Pandas - изучение данных

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

Скачать датасет на свой компьютер и распаковать

Считать csv файл в датафрейм food

In [18]:
import pandas
food = pandas.read_csv('en.openfoodfacts.org.products.tsv', error_bad_lines=False, dtype='unicode', delimiter='\t')

Посмотреть первые 5 записей

In [19]:
food.head

<bound method NDFrame.head of                  code                                                url  \
0       0000000003087  http://world-en.openfoodfacts.org/product/0000...
1       0000000004530  http://world-en.openfoodfacts.org/product/0000...
2       0000000004559  http://world-en.openfoodfacts.org/product/0000...
3       0000000016087  http://world-en.openfoodfacts.org/product/0000...
4       0000000016094  http://world-en.openfoodfacts.org/product/0000...
5       0000000016100  http://world-en.openfoodfacts.org/product/0000...
6       0000000016117  http://world-en.openfoodfacts.org/product/0000...
7       0000000016124  http://world-en.openfoodfacts.org/product/0000...
8       0000000016193  http://world-en.openfoodfacts.org/product/0000...
9       0000000016513  http://world-en.openfoodfacts.org/product/0000...
10      0000000016612  http://world-en.openfoodfacts.org/product/0000...
11      0000000016650  http://world-en.openfoodfacts.org/product/0000...
12      0000000016872  http://world-en.openfoodfacts.org/product/0000...
13      0000000016933  http://world-en.openfoodfacts.org/product/0000...
14      0000000017497  http://world-en.openfoodfacts.org/product/0000...
15      0000000018012  http://world-en.openfoodfacts.org/product/0000...
16      0000000018050  http://world-en.openfoodfacts.org/product/0000...
17      0000000018173  http://world-en.openfoodfacts.org/product/0000...
18      0000000018197  http://world-en.openfoodfacts.org/product/0000...
19      0000000018227  http://world-en.openfoodfacts.org/product/0000...
20      0000000018265  http://world-en.openfoodfacts.org/product/0000...
21      0000000018289  http://world-en.openfoodfacts.org/product/0000...
22      0000000018319  http://world-en.openfoodfacts.org/product/0000...
23      0000000018340  http://world-en.openfoodfacts.org/product/0000...
24      0000000018357  http://world-en.openfoodfacts.org/product/0000...
25      0000000018371  http://world-en.openfoodfacts.org/product/0000...
26      0000000018388  http://world-en.openfoodfacts.org/product/0000...
27      0000000018395  http://world-en.openfoodfacts.org/product/0000...
28      0000000018401  http://world-en.openfoodfacts.org/product/0000...
29      0000000018418  http://world-en.openfoodfacts.org/product/0000...
...               ...                                                ...
355997  9791463741241  http://world-en.openfoodfacts.org/product/9791...
355998     9800120499  http://world-en.openfoodfacts.org/product/9800...
355999     9800801107  http://world-en.openfoodfacts.org/product/9800...
356000     9800895007  http://world-en.openfoodfacts.org/product/9800...
356001     9800895250  http://world-en.openfoodfacts.org/product/9800...
356002        9802735  http://world-en.openfoodfacts.org/product/9802735
356003  9820111458900  http://world-en.openfoodfacts.org/product/9820...
356004  9836654056565  http://world-en.openfoodfacts.org/product/9836...
356005  9847548283004  http://world-en.openfoodfacts.org/product/9847...
356006    98709870987  http://world-en.openfoodfacts.org/product/9870...
356007     9871311007  http://world-en.openfoodfacts.org/product/9871...
356008  9876567898765  http://world-en.openfoodfacts.org/product/9876...
356009         988639   http://world-en.openfoodfacts.org/product/988639
356010  9900000000233  http://world-en.openfoodfacts.org/product/9900...
356011  9900010011557  http://world-en.openfoodfacts.org/product/9900...
356012  9901198001583  http://world-en.openfoodfacts.org/product/9901...
356013  9901942000794  http://world-en.openfoodfacts.org/product/9901...
356014       99044169  http://world-en.openfoodfacts.org/product/9904...
356015  9906410000009  http://world-en.openfoodfacts.org/product/9906...
356016  9908278636246  http://world-en.openfoodfacts.org/product/9908...
356017       99111250  http://world-en.openfoodfacts.org/product/9911...
356018           9918  http://world-en.openfoodfacts.org/product/9918...
356019  9935010000003  http://world-en.openfoodfacts.org/product/9935...
356020       99410148  http://world-en.openfoodfacts.org/product/9941...
356021  9948282780603  http://world-en.openfoodfacts.org/product/9948...
356022       99567453  http://world-en.openfoodfacts.org/product/9956...
356023  9970229501521  http://world-en.openfoodfacts.org/product/9970...
356024  9977471758307  http://world-en.openfoodfacts.org/product/9977...
356025  9980282863788  http://world-en.openfoodfacts.org/product/9980...
356026   999990026839  http://world-en.openfoodfacts.org/product/9999...

                           creator   created_t      created_datetime  \
0       openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1                  usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2                  usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3                  usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4                  usda-ndb-import  1489055653  2017-03-09T10:34:13Z
5                  usda-ndb-import  1489055651  2017-03-09T10:34:11Z
6                  usda-ndb-import  1489055730  2017-03-09T10:35:30Z
7                  usda-ndb-import  1489055711  2017-03-09T10:35:11Z
8                  usda-ndb-import  1489055651  2017-03-09T10:34:11Z
9                  usda-ndb-import  1489055654  2017-03-09T10:34:14Z
10                 usda-ndb-import  1489055731  2017-03-09T10:35:31Z
11                 usda-ndb-import  1489055668  2017-03-09T10:34:28Z
12                 usda-ndb-import  1489055650  2017-03-09T10:34:10Z
13                 usda-ndb-import  1489055651  2017-03-09T10:34:11Z
14                 usda-ndb-import  1489055678  2017-03-09T10:34:38Z
15                 usda-ndb-import  1489055652  2017-03-09T10:34:12Z
16                 usda-ndb-import  1489050462  2017-03-09T09:07:42Z
17                 usda-ndb-import  1489055667  2017-03-09T10:34:27Z
18                 usda-ndb-import  1489055652  2017-03-09T10:34:12Z
19                 usda-ndb-import  1489055682  2017-03-09T10:34:42Z
20                 usda-ndb-import  1489055706  2017-03-09T10:35:06Z
21                 usda-ndb-import  1489055654  2017-03-09T10:34:14Z
22                 usda-ndb-import  1489055720  2017-03-09T10:35:20Z
23                 usda-ndb-import  1489055721  2017-03-09T10:35:21Z
24                 usda-ndb-import  1489138486  2017-03-10T09:34:46Z
25                 usda-ndb-import  1489055713  2017-03-09T10:35:13Z
26                 usda-ndb-import  1489055653  2017-03-09T10:34:13Z
27                 usda-ndb-import  1489055654  2017-03-09T10:34:14Z
28                 usda-ndb-import  1489055712  2017-03-09T10:35:12Z
29                 usda-ndb-import  1489055714  2017-03-09T10:35:14Z
...                            ...         ...                   ...
355997                    scailyna  1395513393  2014-03-22T18:36:33Z
355998  openfoodfacts-contributors  1491776869  2017-04-09T22:27:49Z
355999          tacite-mass-editor  1490554697  2017-03-26T18:58:17Z
356000          tacite-mass-editor  1490554698  2017-03-26T18:58:18Z
356001          tacite-mass-editor  1490554697  2017-03-26T18:58:17Z
356002             date-limite-app  1472728165  2016-09-01T11:09:25Z
356003  openfoodfacts-contributors  1432669316  2015-05-26T19:41:56Z
356004             usda-ndb-import  1489055289  2017-03-09T10:28:09Z
356005                   drmalabar  1437817626  2015-07-25T09:47:06Z
356006  openfoodfacts-contributors  1472254210  2016-08-26T23:30:10Z
356007                      aleene  1444561704  2015-10-11T11:08:24Z
356008  openfoodfacts-contributors  1472253428  2016-08-26T23:17:08Z
356009          tacite-mass-editor  1490554698  2017-03-26T18:58:18Z
356010                     kiliweb  1491079938  2017-04-01T20:52:18Z
356011                    jeanbono  1375778997  2013-08-06T08:49:57Z
356012  openfoodfacts-contributors  1450594133  2015-12-20T06:48:53Z
356013               gaspardbenoit  1493544769  2017-04-30T09:32:49Z
356014             date-limite-app  1421873458  2015-01-21T20:50:58Z
356015                  agamitsudo  1373480408  2013-07-10T18:20:08Z
356016                       andre  1360585770  2013-02-11T12:29:30Z
356017                    balooval  1367163039  2013-04-28T15:30:39Z
356018                  woshilapin  1430167954  2015-04-27T20:52:34Z
356019                    sebleouf  1446293229  2015-10-31T12:07:09Z
356020             date-limite-app  1463936572  2016-05-22T17:02:52Z
356021  openfoodfacts-contributors  1490631299  2017-03-27T16:14:59Z
356022             usda-ndb-import  1489059076  2017-03-09T11:31:16Z
356023                      tomato  1422099377  2015-01-24T11:36:17Z
356024  openfoodfacts-contributors  1497018549  2017-06-09T14:29:09Z
356025  openfoodfacts-contributors  1492340089  2017-04-16T10:54:49Z
356026             usda-ndb-import  1489072709  2017-03-09T15:18:29Z

       last_modified_t last_modified_datetime  \
0           1474103893   2016-09-17T09:18:13Z
1           1489069957   2017-03-09T14:32:37Z
2           1489069957   2017-03-09T14:32:37Z
3           1489055731   2017-03-09T10:35:31Z
4           1489055653   2017-03-09T10:34:13Z
5           1489055651   2017-03-09T10:34:11Z
6           1489055730   2017-03-09T10:35:30Z
7           1489055712   2017-03-09T10:35:12Z
8           1489055651   2017-03-09T10:34:11Z
9           1489055654   2017-03-09T10:34:14Z
10          1489055731   2017-03-09T10:35:31Z
11          1489055668   2017-03-09T10:34:28Z
12          1489055651   2017-03-09T10:34:11Z
13          1489055651   2017-03-09T10:34:11Z
14          1489055678   2017-03-09T10:34:38Z
15          1489055653   2017-03-09T10:34:13Z
16          1489050462   2017-03-09T09:07:42Z
17          1489055667   2017-03-09T10:34:27Z
18          1489055652   2017-03-09T10:34:12Z
19          1489055682   2017-03-09T10:34:42Z
20          1489055706   2017-03-09T10:35:06Z
21          1489055655   2017-03-09T10:34:15Z
22          1489055720   2017-03-09T10:35:20Z
23          1489055721   2017-03-09T10:35:21Z
24          1489138486   2017-03-10T09:34:46Z
25          1489055713   2017-03-09T10:35:13Z
26          1489055653   2017-03-09T10:34:13Z
27          1489055654   2017-03-09T10:34:14Z
28          1489055712   2017-03-09T10:35:12Z
29          1489055714   2017-03-09T10:35:14Z
...                ...                    ...
355997      1443886689   2015-10-03T15:38:09Z
355998      1491776873   2017-04-09T22:27:53Z
355999      1490554697   2017-03-26T18:58:17Z
356000      1490554698   2017-03-26T18:58:18Z
356001      1490554697   2017-03-26T18:58:17Z
356002      1472728167   2016-09-01T11:09:27Z
356003      1461438595   2016-04-23T19:09:55Z
356004      1489055289   2017-03-09T10:28:09Z
356005      1442237848   2015-09-14T13:37:28Z
356006      1474729393   2016-09-24T15:03:13Z
356007      1444561971   2015-10-11T11:12:51Z
356008      1472253428   2016-08-26T23:17:08Z
356009      1490554698   2017-03-26T18:58:18Z
356010      1491079939   2017-04-01T20:52:19Z
356011      1504698840   2017-09-06T11:54:00Z
356012      1471893651   2016-08-22T19:20:51Z
356013      1493544860   2017-04-30T09:34:20Z
356014      1460898286   2016-04-17T13:04:46Z
356015      1451851215   2016-01-03T20:00:15Z
356016      1389960647   2014-01-17T12:10:47Z
356017      1371690556   2013-06-20T01:09:16Z
356018      1430167992   2015-04-27T20:53:12Z
356019      1446376839   2015-11-01T11:20:39Z
356020      1491244498   2017-04-03T18:34:58Z
356021      1491244498   2017-04-03T18:34:58Z
356022      1491244499   2017-04-03T18:34:59Z
356023      1491244499   2017-04-03T18:34:59Z
356024      1500730305   2017-07-22T13:31:45Z
356025      1492340089   2017-04-16T10:54:49Z
356026      1491244499   2017-04-03T18:34:59Z

                                             product_name  \
0                                      Farine de blé noir
1                          Banana Chips Sweetened (Whole)
2                                                 Peanuts
3                                  Organic Salted Nut Mix
4                                         Organic Polenta
5                       Breadshop Honey Gone Nuts Granola
6                           Organic Long Grain White Rice
7                                          Organic Muesli
8                            Organic Dark Chocolate Minis
9                                   Organic Sunflower Oil
10                                   Organic Adzuki Beans
11                                    Organic Penne Pasta
12                                          Zen Party Mix
13                              Organic Golden Flax Seeds
14                                    Organic Spicy Punks
15                                   Cinnamon Nut Granola
16                                      Organic Hazelnuts
17                         Organic Sweetened Banana Chips
18                       Lotus Organic Brown Jasmine Rice
19                                     Organic Oat Groats
20                                       Energy Power Mix
21                  Antioxidant Mix - Berries & Chocolate
22              Organic Quinoa Coconut Granola With Mango
23                 Fire Roasted Hatch Green Chile Almonds
24                              Peanut Butter Power Chews
25                                     Real Salt Granular
26                    Organic Unswt Berry Coconut Granola
27                    Roasted Salted Black Pepper Cashews
28                             Thai Curry Roasted Cashews
29                                  Wasabi Tamari Almonds
...                                                   ...
355997                                          Gingembre
355998                                     Ferrero Rocher
355999                                                NaN
356000                                                NaN
356001                                                NaN
356002                                                NaN
356003                     Les Belles Tranches Bacon fumé
356004                                  Raspados Ice Bars
356005                Tartines craquantes bio au sarrasin
356006                                                NaN
356007                                              Lager
356008                                            nf test
356009                                                NaN
356010                                            Amandes
356011                                   Miel de Camargue
356012                                       Лимон — лайм
356013                                     Mleko wiejskie
356014                                           Poireaux
356015                          Roussette du Bugey (2011)
356016                           Szprot w oleju roslinnym
356017                                 Thé vert Earl grey
356018                         Cheese cake thé vert, yuzu
356019                                     Rillette d'oie
356020                                                NaN
356021                                  Tomato & ricotta
356022  Mint Melange Tea A Blend Of Peppermint, Lemon ...
356023                                            乐吧泡菜味薯片
356024                                      Biscottes bio
356025                           Tomates aux Vermicelles
356026                    Sugar Free Drink Mix, Peach Tea

                           generic_name quantity         ...          \
0                                   NaN      1kg         ...
1                                   NaN      NaN         ...
2                                   NaN      NaN         ...
3                                   NaN      NaN         ...
4                                   NaN      NaN         ...
5                                   NaN      NaN         ...
6                                   NaN      NaN         ...
7                                   NaN      NaN         ...
8                                   NaN      NaN         ...
9                                   NaN      NaN         ...
10                                  NaN      NaN         ...
11                                  NaN      NaN         ...
12                                  NaN      NaN         ...
13                                  NaN      NaN         ...
14                                  NaN      NaN         ...
15                                  NaN      NaN         ...
16                                  NaN      NaN         ...
17                                  NaN      NaN         ...
18                                  NaN      NaN         ...
19                                  NaN      NaN         ...
20                                  NaN      NaN         ...
21                                  NaN      NaN         ...
22                                  NaN      NaN         ...
23                                  NaN      NaN         ...
24                                  NaN      NaN         ...
25                                  NaN      NaN         ...
26                                  NaN      NaN         ...
27                                  NaN      NaN         ...
28                                  NaN      NaN         ...
29                                  NaN      NaN         ...
...                                 ...      ...         ...
355997                              NaN     50 g         ...
355998                              NaN      NaN         ...
355999                              NaN      NaN         ...
356000                              NaN      NaN         ...
356001                              NaN      NaN         ...
356002                              NaN      NaN         ...
356003                              NaN    180 g         ...
356004                              NaN      NaN         ...
356005                              NaN      NaN         ...
356006                              NaN     33cl         ...
356007         Bière caribeenne de luxe   330 ml         ...
356008                              NaN     100g         ...
356009                              NaN      NaN         ...
356010                              NaN      NaN         ...
356011                             Miel    250 g         ...
356012                              NaN        2         ...
356013                              NaN       1L         ...
356014                              NaN     1 kg         ...
356015              Vins blanc du Bugey   750 ml         ...
356016                            Sprot     170g         ...
356017                thé bio équitable     50 g         ...
356018                              NaN      NaN         ...
356019                              NaN    180 g         ...
356020                              NaN      NaN         ...
356021                              NaN        1         ...
356022                              NaN      NaN         ...
356023  Leba pickle flavor potato chips     50 g         ...
356024                              NaN     300g         ...
356025                              NaN      67g         ...
356026                              NaN      NaN         ...

       fruits-vegetables-nuts_100g fruits-vegetables-nuts-estimate_100g  \
0                              NaN                                  NaN
1                              NaN                                  NaN
2                              NaN                                  NaN
3                              NaN                                  NaN
4                              NaN                                  NaN
5                              NaN                                  NaN
6                              NaN                                  NaN
7                              NaN                                  NaN
8                              NaN                                  NaN
9                              NaN                                  NaN
10                             NaN                                  NaN

Сколько наблюдений в наборе данных?

In [21]:
print(len(food))

356027

Сколько столбцов в наборе данных?

In [22]:
print(len(food.columns))

163

Напечатайте все названия столбцов

In [23]:
print(food.columns.values)

['code' 'url' 'creator' 'created_t' 'created_datetime' 'last_modified_t'
 'last_modified_datetime' 'product_name' 'generic_name' 'quantity'
 'packaging' 'packaging_tags' 'brands' 'brands_tags' 'categories'
 'categories_tags' 'categories_en' 'origins' 'origins_tags'
 'manufacturing_places' 'manufacturing_places_tags' 'labels' 'labels_tags'
 'labels_en' 'emb_codes' 'emb_codes_tags' 'first_packaging_code_geo'
 'cities' 'cities_tags' 'purchase_places' 'stores' 'countries'
 'countries_tags' 'countries_en' 'ingredients_text' 'allergens'
 'allergens_en' 'traces' 'traces_tags' 'traces_en' 'serving_size'
 'no_nutriments' 'additives_n' 'additives' 'additives_tags' 'additives_en'
 'ingredients_from_palm_oil_n' 'ingredients_from_palm_oil'
 'ingredients_from_palm_oil_tags'
 'ingredients_that_may_be_from_palm_oil_n'
 'ingredients_that_may_be_from_palm_oil'
 'ingredients_that_may_be_from_palm_oil_tags' 'nutrition_grade_uk'
 'nutrition_grade_fr' 'pnns_groups_1' 'pnns_groups_2' 'states'
 'states_tags' 'states_en' 'main_category' 'main_category_en' 'image_url'
 'image_small_url' 'energy_100g' 'energy-from-fat_100g' 'fat_100g'
 'saturated-fat_100g' '-butyric-acid_100g' '-caproic-acid_100g'
 '-caprylic-acid_100g' '-capric-acid_100g' '-lauric-acid_100g'
 '-myristic-acid_100g' '-palmitic-acid_100g' '-stearic-acid_100g'
 '-arachidic-acid_100g' '-behenic-acid_100g' '-lignoceric-acid_100g'
 '-cerotic-acid_100g' '-montanic-acid_100g' '-melissic-acid_100g'
 'monounsaturated-fat_100g' 'polyunsaturated-fat_100g' 'omega-3-fat_100g'
 '-alpha-linolenic-acid_100g' '-eicosapentaenoic-acid_100g'
 '-docosahexaenoic-acid_100g' 'omega-6-fat_100g' '-linoleic-acid_100g'
 '-arachidonic-acid_100g' '-gamma-linolenic-acid_100g'
 '-dihomo-gamma-linolenic-acid_100g' 'omega-9-fat_100g' '-oleic-acid_100g'
 '-elaidic-acid_100g' '-gondoic-acid_100g' '-mead-acid_100g'
 '-erucic-acid_100g' '-nervonic-acid_100g' 'trans-fat_100g'
 'cholesterol_100g' 'carbohydrates_100g' 'sugars_100g' '-sucrose_100g'
 '-glucose_100g' '-fructose_100g' '-lactose_100g' '-maltose_100g'
 '-maltodextrins_100g' 'starch_100g' 'polyols_100g' 'fiber_100g'
 'proteins_100g' 'casein_100g' 'serum-proteins_100g' 'nucleotides_100g'
 'salt_100g' 'sodium_100g' 'alcohol_100g' 'vitamin-a_100g'
 'beta-carotene_100g' 'vitamin-d_100g' 'vitamin-e_100g' 'vitamin-k_100g'
 'vitamin-c_100g' 'vitamin-b1_100g' 'vitamin-b2_100g' 'vitamin-pp_100g'
 'vitamin-b6_100g' 'vitamin-b9_100g' 'folates_100g' 'vitamin-b12_100g'
 'biotin_100g' 'pantothenic-acid_100g' 'silica_100g' 'bicarbonate_100g'
 'potassium_100g' 'chloride_100g' 'calcium_100g' 'phosphorus_100g'
 'iron_100g' 'magnesium_100g' 'zinc_100g' 'copper_100g' 'manganese_100g'
 'fluoride_100g' 'selenium_100g' 'chromium_100g' 'molybdenum_100g'
 'iodine_100g' 'caffeine_100g' 'taurine_100g' 'ph_100g'
 'fruits-vegetables-nuts_100g' 'fruits-vegetables-nuts-estimate_100g'
 'collagen-meat-protein-ratio_100g' 'cocoa_100g' 'chlorophyl_100g'
 'carbon-footprint_100g' 'nutrition-score-fr_100g'
 'nutrition-score-uk_100g' 'glycemic-index_100g' 'water-hardness_100g']

Какое название у 105 столбца?

In [31]:
food_value = food.columns[105]
print(food_value)

-fructose_100g

Какой тип наблюдений в 105 столбце?

In [30]:
print(type(food_value))

<class 'str'>

Как проиндексирован набор данных?

In [32]:
print(food.index.values)

[     0      1      2 ... 356024 356025 356026]

Каково значение имени продукта в 19-м наблюдении?

In [33]:
print(food.iloc[19]['product_name'])

Organic Oat Groats

## Pandas - фильтрация данных

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [91]:
chipo = pandas.read_csv('chipotle.tsv', error_bad_lines=False, sep='\t')

Как много продуктов стоят более чем $10.00?

In [92]:

item_price_without_currency = chipo['item_price']
item_price_without_currency = item_price_without_currency.replace('[\$,]', '', regex=True).astype(float)
print(len(item_price_without_currency[item_price_without_currency.apply(lambda x: x > 10.00)]))

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [81]:
print(chipo[['item_name','item_price']])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
9                             Steak Burrito        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
13                             Chicken Bowl       11.25
14                      Chips and Guacamole        4.45
15    Chips and Tomatillo-Green Chili Salsa        2.39
16                          Chicken Burrito        8.49
17                          Chicken Burrito        8.49
18                              Canned Soda        2.18
19                             Chicken Bowl        8.75
20                      Chips and Guacamole        4.45
21                         Barbacoa Burrito        8.99
22                         Nantucket Nectar        3.39
23                          Chicken Burrito       10.98
24                                     Izze        3.39
25             Chips and Fresh Tomato Salsa        2.39
26                             Chicken Bowl        8.49
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
29                          Chicken Burrito        8.49
...                                     ...         ...
4592                       Barbacoa Burrito       11.75
4593                          Carnitas Bowl       11.75
4594                          Barbacoa Bowl       11.75
4595                           Chicken Bowl        8.75
4596                    Chips and Guacamole        4.45
4597                      Canned Soft Drink        1.25
4598                          Bottled Water        1.50
4599                           Chicken Bowl        8.75
4600                    Chips and Guacamole        4.45
4601                      Canned Soft Drink        1.25
4602                       Barbacoa Burrito        9.25
4603                       Barbacoa Burrito        9.25
4604                           Chicken Bowl        8.75
4605                    Chips and Guacamole        4.45
4606                      Canned Soft Drink        1.25
4607                          Steak Burrito       11.75
4608                         Veggie Burrito       11.25
4609                      Canned Soft Drink        1.25
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25
4613                                  Chips        2.15
4614                          Bottled Water        1.50
4615                     Chicken Soft Tacos        8.75
4616                    Chips and Guacamole        4.45
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

Отсортировать по имени предмета

In [93]:
print(chipo.sort_values(by='item_name'))

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
3422      1373         1  6 Pack Soft Drink
553        230         1  6 Pack Soft Drink
1916       774         1  6 Pack Soft Drink
1922       776         1  6 Pack Soft Drink
1937       784         1  6 Pack Soft Drink
3836      1537         1  6 Pack Soft Drink
298        129         1  6 Pack Soft Drink
1976       798         1  6 Pack Soft Drink
1167       481         1  6 Pack Soft Drink
3875      1554         1  6 Pack Soft Drink
1124       465         1  6 Pack Soft Drink
3886      1558         1  6 Pack Soft Drink
2108       849         1  6 Pack Soft Drink
3010      1196         1  6 Pack Soft Drink
4535      1803         1  6 Pack Soft Drink
4169      1664         1  6 Pack Soft Drink
4174      1666         1  6 Pack Soft Drink
4527      1800         1  6 Pack Soft Drink
4522      1798         1  6 Pack Soft Drink
3806      1525         1  6 Pack Soft Drink
2389       949         1  6 Pack Soft Drink
3132      1248         1  6 Pack Soft Drink
3141      1253         1  6 Pack Soft Drink
639        264         1  6 Pack Soft Drink
1026       422         1  6 Pack Soft Drink
...        ...       ...                ...
2996      1192         1       Veggie Salad
3163      1263         1       Veggie Salad
4084      1635         1       Veggie Salad
1694       686         1       Veggie Salad
2756      1094         1       Veggie Salad
4201      1677         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
2269       913         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
186         83         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
4573      1818         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
738        304         1  Veggie Soft Tacos
3889      1559         2  Veggie Soft Tacos
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description item_price
3389                                        [Diet Coke]    $12.98
341                                         [Diet Coke]     $6.49
1849                                             [Coke]     $6.49
1860                                        [Diet Coke]     $6.49
2713                                             [Coke]     $6.49
3422                                             [Coke]     $6.49
553                                         [Diet Coke]     $6.49
1916                                        [Diet Coke]     $6.49
1922                                             [Coke]     $6.49
1937                                        [Diet Coke]     $6.49
3836                                             [Coke]     $6.49
298                                            [Sprite]     $6.49
1976                                        [Diet Coke]     $6.49
1167                                             [Coke]     $6.49
3875                                        [Diet Coke]     $6.49
1124                                             [Coke]     $6.49
3886                                        [Diet Coke]     $6.49
2108                                             [Coke]     $6.49
3010                                        [Diet Coke]     $6.49
4535                                         [Lemonade]     $6.49
4169                                        [Diet Coke]     $6.49
4174                                             [Coke]     $6.49
4527                                        [Diet Coke]     $6.49
4522                                        [Diet Coke]     $6.49
3806                                           [Sprite]     $6.49
2389                                             [Coke]     $6.49
3132                                        [Diet Coke]     $6.49
3141                                         [Lemonade]     $6.49
639                                         [Diet Coke]     $6.49
1026                                           [Sprite]     $6.49
...                                                 ...        ...
2996  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
3163  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
4084  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
1694  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
2756  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
4201  [Fresh Tomato Salsa, [Fajita Vegetables, Black...    $11.25
1884  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
455   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
3223  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
2223      [Roasted Chili Corn Salsa, Fajita Vegetables]     $8.75
2269  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
4541  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75
3293  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
960   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
1316  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
2156  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4261  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
295   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...    $11.25
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
2683  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
496   [Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...    $11.25
4109  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...    $16.98
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49

[4622 rows x 5 columns]

Сколько было заказано самого дорогого предмета?

In [106]:
chipo_without_currency = chipo
chipo_without_currency['item_price'] = chipo_without_currency['item_price'].replace('[\$,]', '', regex=True).astype(float)
max_value = chipo_without_currency.loc[chipo_without_currency['item_price'].idxmax()]['item_price']
print(len(chipo_without_currency[chipo_without_currency['item_price'].apply(lambda x: x == max_value)]))

44.25
1

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [107]:
print(len(chipo[chipo['item_name'].apply(lambda x: x == 'Veggie Salad Bowl')]))

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [116]:
print(len(chipo.loc[lambda x: (x['item_name'] == 'Canned Soda') & (x['quantity'] > 1)]))

20